<mat-toolbar color="primary">
  <span>
    TourPlanner
  </span>
  <span class="space-buttons"></span>
</mat-toolbar>

<mat-toolbar color="primary">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button color="primary" routerLink="/addNewTour">Add New Tour</button>
  <button mat-raised-button color="primary" routerLink="/showTourDetails">Show Tour Details</button>
</mat-toolbar>




<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TourPlanner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/tour">Tour</a>
        </li>
      </ul>
      <button type="button" class="btn btn-success">Login</button>
      <button type="button" class="btn btn-danger">Logout</button>
    </div>
  </div>
</nav>
-->
